* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

h1 {
  color: white;
}

body {
  background-image: url(https://images7.alphacoders.com/756/thumb-1920-756229.jpeg) ;
  background-size: cover; /* Para cobrir todo o corpo */
  width: 100%;
  height: 100%;
  margin: 0; /* Remover margens padrão do corpo */
  padding: 0; /* Remover preenchimento padrão do corpo */
}

.container {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.busca {
margin:15px;
}

.episodio {
  display: flex;
  margin: 10px;
  padding: 10px;
  
}

.episodio iframe {
  width: 100%;
  height: 100%;
}


btn {
  font-family: sans-serif;
  font-size:18px;
  color: rgb(0, 140, 255);
}

@media screen and (min-width: 640px) {
  .episodio {
    width: 640px;
    height: 360px;
  }
}
